<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Pelican.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Pelican.Properties.Settings>
      <setting name="StorageAccount" serializeAs="String">
        <value>myobpdqaart</value>
      </setting>
      <setting name="StorageAccountKey" serializeAs="String">
        <value>MHDYieseAgGX6HbE8yWK4e0L2eKkUt+an6UbX1/6o0nC2FK2pmgxi/OVW+WEVyH50ROBRMtw0wxf057KDTaDfA==</value>
      </setting>
      <setting name="RegisteredCommandHandlersTableName" serializeAs="String">
        <value>PelicanCommandHandlers</value>
      </setting>
      <setting name="RegisteredCommandHandlersBlobContainerName" serializeAs="String">
        <value>pelican-command-handler-assemblies</value>
      </setting>
      <setting name="CommandQueueName" serializeAs="String">
        <value>pelican-command-queue</value>
      </setting>
      <setting name="CommandResultsTableName" serializeAs="String">
        <value>PelicanCommandResults</value>
      </setting>
      <setting name="CustomerTableName" serializeAs="String">
        <value>PelicanCustomers</value>
      </setting>
      <setting name="SaleTableName" serializeAs="String">
        <value>PelicanSales</value>
      </setting>
      <setting name="SaleableItemTableName" serializeAs="String">
        <value>PelicanSaleableItems</value>
      </setting>
      <setting name="CompanyFileId" serializeAs="String">
        <value>d27b1de5-ac81-44ed-9ec0-c9c0513146e1</value>
      </setting>
      <setting name="ClientId" serializeAs="String">
        <value>vaxszupn3bjm8e2r99fs7ssb</value>
      </setting>
      <setting name="ClientSecret" serializeAs="String">
        <value>Pm5fycq29yNmJKeVDKHYwFWs</value>
      </setting>
      <setting name="RedirectUrl" serializeAs="String">
        <value>http://localhost:38312/Authorize</value>
      </setting>
      <setting name="ApiBaseUrl" serializeAs="String">
        <value />
      </setting>
    </Pelican.Properties.Settings>
  </applicationSettings>
</configuration>