@{
    ViewBag.Title = "Home Page";  
}

<div class="hero-unit">
    <div class="span4">
        <h2>Authorize Pelican To Use Your MYOB Company File</h2>
        <!--<a href="https://secure.myob.com/oauth2/account/authorize?client_id=vaxszupn3bjm8e2r99fs7ssb&redirect_uri=http://pelican.azurewebsites.net/Authorize&response_type=code&scope=CompanyFile">Login To MYOB Here</a>-->
        <a href="https://secure.myob.com/oauth2/account/authorize?client_id=vaxszupn3bjm8e2r99fs7ssb&redirect_uri=http://localhost:38312/Authorize&response_type=code&scope=CompanyFile">Login To MYOB Here</a>
    </div>
</div>